<section class="content-container">
  <h1>Lista de hoteles</h1>

  <div class="shortcut">
    <a routerLink="/priv/hotel/create">Crear hotel</a>
  </div>
  <ng-container *ngIf="!loading(); else loader">
    <ng-container *ngIf="hotelService.hotels.length > 0; else noData">
      <section class="hotels__list">
        <article class="hotels__list-item" *ngFor="let hotel of hotelService.hotels">
          <header>
            <h2>{{hotel.name | titlecase}}</h2>
            <small>{{hotel.email}}</small>
          </header>
          <main>
            <p><b>Ubicación:</b> {{hotel.location}}</p>
            <p><b>Dirección:</b> {{hotel.address}}</p>
            <p>
              <b>Habitaciones:</b> 
              <span>
                <span pTooltip="Totales">
                  {{hotel.rooms.length}}
                </span>  / 
                <span pTooltip="Disponibles">
                  {{hotel.availableRooms}}
                </span>
              </span>
            </p>
            <p>
              <b>Estado: </b>
              <span class="text" [ngClass]="{
                'text-success': hotel.enabled,
                'text-error': !hotel.enabled,
              }">
                {{getStatusTranslated(hotel.enabled)}}
              </span>
            </p>
          </main>
          <footer>
            <a routerLink="/priv/hotel/update/{{hotel._id}}" pTooltip="Ver hotel">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 32px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              
            </a>
          </footer>
        </article>
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #loader>
  <div class="loader-wrapper">
    <loader />
  </div>
</ng-template>

<ng-template #noData>
  <p class="no-data">
    No se encuentran hoteles registrados, <a routerLink="/priv/hotel/create">clic aquí para crear uno</a>
  </p>
</ng-template>