<div
  class="input-container"
  [class.focus]="search.value"
  [class.error]="
    controlInstance !== null
      ? formHelper.checkControlErrors(controlInstance)
      : false || (!isValid && search.value.length > 0)
  "
>
  <label class="input-label">{{ label ? label : "Ciudad" }}</label>
  <input
    type="search"
    class="input"
    [formControl]="search"
    autocomplete="off"
    (blur)="markAsTouched()"
  />
  <ul class="cities__options">
    <li
      class="cities__option"
      *ngFor="let item of data | search : search.value : 'city'"
      (mousedown)="select(item)"
    >
      {{ item.city + ", " + item.state }}
    </li>
  </ul>
  <p
    class="input-error"
    *ngIf="
      controlInstance !== null
        ? formHelper.checkControlErrors(controlInstance)
        : false
    "
  >
    {{ formHelper.getControlErrors(controlInstance!) }}
  </p>
</div>
