<section class="content-container">
 <ng-container *ngIf="!loading; else loader">
  <h1>{{ hotelData() }}</h1>
  <h2>Habitacion {{specificRoomService.room()?.code}}, {{roomLocation()}}</h2>
  <p><small>Ultima edición: {{lastUpdated()}}</small></p>

  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="controls-section">
      <c-select-input label="Tipo de Habitación*" formControlName="type">
        <option value="{{item.key}}" *ngFor="let item of roomTypes |keyvalue">
          {{item.value}}
        </option>
      </c-select-input>
      <c-number-input label="impuestos(%)*"  formControlName="taxes"/>
      <c-number-input label="Costo(Sin impuestos)*"  formControlName="baseCost"/>
    </div>
    <c-checkbox-input label="Activo*" formControlName="active"/>
    <div class="actions">
      <button type="submit" class="primary-button">
        Actualizar habitación
      </button>
      <button type="button" class="danger-button" (click)="deleteRoom()">
        Eliminar habitación
      </button>
    </div>
  </form>
 </ng-container>
</section>

<ng-template #loader>
  <div class="loader-wrapper">
    <loader />
  </div>
</ng-template>